* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 1000px;
  border: 1px solid hsl(33, 90%, 56%);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.wrap__item {
  padding: 20px;
  width: 100%;
  border: 1px solid hsl(33, 90%, 56%);
  border-radius: 10px;
  background-color: 1px solid hsl(33, 81%, 84%);
}
.wrap__item-block {
  padding: 10px;
  border: 1px solid #f14141;
}
.wrap__item_2 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}